<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>GreenThumb app needs to obtain your location while using the app to obtain accurate weather data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>GreenThumb app needs to access your Photo Library so that you can pick a photo from it.</string>
	<key>NSCameraUsageDescription</key>
	<string>GreenThumb app needs to access the Camera so that you can take a photo.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchImage</string>
	</dict>
</dict>
</plist>
